$sidebar-theme: #EDEFF0;
$theme-color: #3E416D;
$font-color: #29303B;
$font-faimily: gotham-rounded,helvetica neue,helvetica !important;
.myFonts{
  font-family: $font-faimily;
}
.myCards{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
 cursor: pointer;
}
.myCards:hover{
    animation: myfirst 1s 1;
    animation-direction: alternate;
}
@keyframes myfirst {
  0%   {top: 0px;}
  25%  { top: 0px;}
  50%  { top: -10px;}
  75%  { top: -10px;}
  100% { top: 0px;}
}
.myBtn{
  background-color: $theme-color;
  border: 1px $theme-color;
  color: white;
}
.cat{
  cursor: pointer;
}