$theme-color: #3E416D;
$font-color: #29303B;
$font-faimily: gotham-rounded,helvetica neue,helvetica !important;
.header-color{
    background-color: #d7eef7;
    height: 200px;
    position: relative;
}
.welcome-header{
    position: absolute;
    top:50%;
  /*   margin-bottom: 2%; */
    font-size: 60px;

}

.myitems{
    text-align: center;
    text-decoration: none;
    color: $font-color;
}
.myitems:hover{
    color: $theme-color;
}    
.myLink{
    text-align: center;
    height: 40px;
    margin-top: 20px;
}
.myLink:hover{
    border-bottom: 4px solid $theme-color;
}
a{
    cursor: pointer;
}

