<div class="container">
    <form [formGroup]="forgotform">
        <div class="row col-4">
           <input type="text" formControlName="email" placeholder="Enter email">
            <input *ngIf="!otpblock" type="submit" value="Send otp" (click)="otp()">
        </div>
        <div class="row col-4" *ngIf="otpblock">
            <input type="text" formControlName="otp" placeholder="Enter otp">
            <input *ngIf="!fields" type="submit" value="Verify otp" (click)="verifyotp()">
        </div>
        <div class="row col-4" *ngIf="fields">
            <input type="password" formControlName="password" placeholder="Enter password">
            <input type="password" formControlName="cpassword" placeholder="Confirm password">
            <input  type="submit" value="Submit" (click)="submit()">
         </div>
    </form>
</div>