video{
    width: 100%;
    height: 100%;
}
.video-box{
    margin-top: 10rem;
    width: 40%;
    height: 50%;
}
.card{
    width: 50%;
}
.card-header{
    background-color: gray;
    color: white;
}